@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(29,111,128);
    background: linear-gradient(160deg, rgba(29,111,128,1) 42%, rgba(0,255,139,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Lato", serif;
    color: white;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Quicksand", sans-serif;
}