@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   background: rgb(223,94,36);
    background: linear-gradient(160deg, rgba(223,94,36,1) 42%, rgba(192,4,37,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Lato", serif;
    color: white;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Quicksand", sans-serif;
}